body{
    background-color: rgb(1, 111, 255);
}
h1{
    text-align: center;
    font-size: 90px;
    color: rgb(255, 145, 0)
}

.grid-container {
    grid-template-columns:min-content auto;
    display: grid;
    background-color: rgb(2, 2, 53);
    padding: 10px;
  }

.grid-item {
    background-color: rgb(190, 196, 253);
    border: 3px solid blue;
    padding: 50px;
    font-size: 30px;
    text-align: center;
  }

  nav{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

ul{
    list-style-type: none;
}

ul>li{
    display:inline;
}

ul>li>a{
    color: rgb(255, 255, 255);
    background-color: rgba(250, 121, 0, 0.877);
    padding: 30px;
}
h2{
    background-color: rgb(0, 17, 253);
    padding: 10px;
    text-align: center;
    font-size: 50px;
    color:rgb(255, 136, 0)
}

img{
 max-width: 1980px;
 max-height: 1080px;
}

figure{
    text-align: center;
}