body{
    background-color: rgb(3, 3, 95);
}

nav{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

ul{
    list-style-type: none;
}

ul>li{
    display:inline;
}

ul>li>a{
    color: rgb(153, 220, 246);
    background-color: rgb(0, 98, 255);
    padding: 30px;
}

p{
    color:rgb(153, 220, 246);
    font-size: 20px;
}

h2{
    color:rgb(190, 134, 255);
    font-size: 40px;
}

h3{
    color:rgb(0, 125, 175);
    font-size: 30px;
}

h1{
    text-align: center;
    padding: 10px;
    font-size: 60px;
    color:rgb(0, 225, 255)
}