h1{
    color:orange ;
    font-size: 90px;
    background-color: aliceblue;
    padding: 5px;
}

h2{
    color:orange;
    font-size: 50px;
    background-color: aliceblue;
    padding: 10px;
}

h1,h2,h3,p{
    text-align: center;
}

body {
    background-image: url(imagens/background.jpg);
}

nav{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

ul{
    list-style-type: none;
}

ul>li{
    display:inline;
}

ul>li>a{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 158, 2);
    padding: 30px;
}

h3,p{
    color:white;
    background-color: rgb(255, 145, 0);
    padding: 10px;
}

P{
    font-size: 20px;
}

h3{
    font-size: 30px;
}

